yelp-business-overview {
  display: block;
  margin-bottom: 20px;
}
yelp-business-overview img {
  max-width: 102px;
  height: auto;
}
yelp-business-overview dt {
  font-weight: 700;
  margin-right: 5px;
}
yelp-business-overview dd:last-child {
  display: block;
}
yelp-business-overview .btn {
  width: 100%;
}