<form ng-submit="yFormCtrl.submit()">
  <dl class="form" ng-class="{'errored': yFormCtrl.termError}">
    <dt>
      <label for="search-term">Search Term</label>
    </dt>
    <dd>
      <input id="search-term" class="input-large" type="text" name="term" placeholder="(e.g. 'food', 'restaurants')" ng-model="yFormCtrl.formData.term">
      <select class="select" name="sort" ng-model="yFormCtrl.formData.sort">
        <option value="0">Best Matched</option>
        <option value="1">Distance</option>
        <option value="2">Highest Rated</option>
      </select>
    </dd>
    <dd class="error">Search Term cannot be empty</dd>
  </dl>
  <dl class="form" ng-class="{'errored': yFormCtrl.locationError}">
    <dt>
      <label for="location">Location</label>
    </dt>
    <dd>
      <input id="location" class="input-large" type="text" name="location" placeholder="address, neighborhood, city, state or zip, optional country" ng-model="yFormCtrl.formData.location">
      <select class="select" name="radius_filter" ng-model="yFormCtrl.formData.radius_filter">
        <option value="1">1 miles</option>
        <option value="2">2 miles</option>
        <option value="3">3 miles</option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="15">15 miles</option>
        <option value="20">20 miles</option>
        <option value="25">25 miles</option>
      </select>
    </dd>
    <dd class="error">Search Term cannot be empty</dd>
  </dl>
  <dl class="form">
    <dt>
      <label>Deals</label>
    </dt>
    <dd>
      <label>
        <input type="checkbox" checked="checked" name="deals_filter" ng-model="yFormCtrl.formData.deals_filter">
        <span class="note">
          Whether to exclusively search for businesses with deals
        </span>
      </label>
    </dd>
  </dl>
  <input type="submit" class="btn btn-primary" value="Go!">
</form>
